<GridLayout class="page" rows="auto, auto, auto, auto, auto">

  <StackLayout row="0" class="-border bg-black">
    <GridLayout rows="auto" columns="*, auto, auto, *" class="m-t-10">
      <GridLayout row="0" col="0" rows="auto" columns="auto, auto">
        <Label col="0" class="far fa-user-circle" text="&#xf2bd;"></Label>
        <StackLayout col="1" class="m-l-5">
          <Label class="secondary" text="Fila Fill"></Label>
          <Label class="secondary" text="Rank: 1"></Label>
        </StackLayout>
      </GridLayout>
      <Label row="0" col="1" class="h2 primary" text="PIDRO"></Label>
      <Label row="0" col="2" class="h2 secondary font-weight-bold" text="ALLSTARS"></Label>
      <Label row="0" col="3"
        class="fas fa-cog"
        text="&#xf013;"
        (tap)="go('settings')">
      </Label>
    </GridLayout>
  </StackLayout>

  <StackLayout row="1" class="m-t-20"></StackLayout>

  <GridLayout row="2" rows="auto" columns="*, *">

    <StackLayout row="1" col="0">

      <Label class="h2 secondary text-center m-t-25" text="Find Game"></Label>
      <StackLayout class="m-x-25 -border bg-black">
        <GridLayout rows="auto, auto, auto">
          <Button row="0"
            class="btn btn-primary"
            text="Enter Ranked Matchmaking"
            (tap)="go('')">
          </Button>
          <Label row="1" class="h4 secondary text-center" text="Or"></Label>
          <Button row="2"
            class="btn btn-primary"
            text="Play Custom Game"
            (tap)="go('')">
          </Button>
        </GridLayout>
      </StackLayout>
    </StackLayout>

    <StackLayout col="1" class="m-x-25">
      <GridLayout>
        <Label class="h2 secondary" text="Your Friends"></Label>
        <Button
          class="btn btn-primary pull-right"
          text="Find Friends"
          (tap)="go('friends')">
        </Button>
      </GridLayout>
      <StackLayout *ngFor="let friend of friends">
        <StackLayout class="-border bg-black">
          <ScrollView>
            <GridLayout rows="auto" columns="auto, auto">
              <Label col="0" class="far fa-user-circle" text="&#xf2bd;"></Label>
              <StackLayout col="1" class="m-l-20 m-t-8">
                <Label class="secondary" [text]="friend.username"></Label>
                <Label class="secondary" [text]="'Rank: ' + friend.rank"></Label>
              </StackLayout>
            </GridLayout>
          </ScrollView>
        </StackLayout>
        <StackLayout class="m-t-4"></StackLayout>
      </StackLayout>
    </StackLayout>
  </GridLayout>

  <StackLayout row="3" class="m-t-20"></StackLayout>

  <Label row="4" text="Copyright &copy; Version: 1.0" class="secondary text-center footnote"></Label>
</GridLayout>
