<StackLayout class="page">
  <GridLayout rows="auto, auto">
    <GridLayout row="0" rows="*, *" class="m-b-25 -border bg-black">
      <Label row="0" class="fas" text="&#xf053;" (tap)="go('landing')"></Label>
      <Label row="0" class="m-l-12 secondary" text="Back" (tap)="go('landing')"></Label>
      <Label row="1" class="h2 secondary text-center" text="Contact Us"></Label>
    </GridLayout>
    <StackLayout row="1" class="m-x-25 m-y-25 -border bg-black">
      <TextField class="-border bg-white" hint="Enter the subject..."></TextField>
      <TextView class="-border bg-white" hint="Enter the message..."></TextView>
      <Button class="btn btn-primary"
        (tap)="submit()"
        text="Send Email">
      </Button>
    </StackLayout>
  </GridLayout>
</StackLayout>
