.friends-page {
  background-image: url("res://background");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
}

.tile {
  background-color: #FFFFFF;
  margin: 5;
}

.tile-title {
  background-color: #99ccff;
}

.highlight .tile-title {
  font-weight: bold;
  background-color: #6699ff;
}

.highlight .tile-title Label {
  font-size: 18;
}
.highlight .price {
  font-weight: bold;
  color: red;
}

