<ScrollView class="about-page">
  <StackLayout>
    <Label text="About Us" class="title"></Label>
    <Label textWrap="true" text="We are a small online..."></Label>
    <Label text="Our Mission" class="sub-title"></Label>
    <Label textWrap="true" text="We exist to bring..."></Label>
    <Label text="History" class="sub-title"></Label>
    <Label textWrap="true" text="Here's some text..."></Label>
    <Label textWrap="true" text="Here's some text..."></Label>
    <Label textWrap="true" text="Here's some text..."></Label>
    <Label textWrap="true" text="Here's some text..."></Label>
    <Label textWrap="true" text="Here's some text..."></Label>
    <Label textWrap="true" text="Here's some text..."></Label>
    <Label textWrap="true" text="Here's some text..."></Label>
  </StackLayout>
</ScrollView>
