.page {
  background-image: url("res://background");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
}

.card {
  width: 80%;
  border-radius: 3;
  background: #0b1b0f;
  color: #d7a965;
  padding: 5 15;
  box-shadow: 0 0 10 4 #00000073;
  margin-bottom: 10;

  .card-header {
    padding-top: 10;
    font-size: 23;
    .logo-left {
      color: #aa7f40;
      margin-right: 0;
    }
    .logo-right {
      margin-left: 0;
      font-weight: 800;
    }
  }

  .card-body {
    Label {
      padding-left: 5;
      padding-top: 12;
    }

    .btn {
      horizontal-align: right;
    }
  }
}

.form {
}

.footer {
  width: 80%;
  padding: 15;
  color: #d7a965;
  height: 15;
  line-height: 15;
}
