<GridLayout class="page" rows="*, auto, auto, *, auto">

  <StackLayout row="1" class="card">
    <GridLayout rows="auto" columns="*, auto, auto, *" class="card-header">
      <Label row="0" col="1" class="logo-left" text="PIDRO"></Label>
      <Label row="0" col="2" class="logo-right" text="ALLSTARS"></Label>
    </GridLayout>
    <StackLayout class="card-body">
      <StackLayout class="input-field">
        <TextField hint="Username" class="input"></TextField>
      </StackLayout>
      <StackLayout class="input-field">
        <TextField hint="Password" class="input"></TextField>
      </StackLayout>
      <GridLayout>
        <Label class="link" text="Forgot your password?">
        </Label>
        <Button
          class="btn btn-primary"
          text="Log In"
          (tap)="go('landing')">
        </Button>
      </GridLayout>
    </StackLayout>
  </StackLayout>

  <StackLayout class="card" row="2">
    <StackLayout class="card-body">
      <GridLayout>
        <Label text="Not a registered user?"></Label>
        <Button
          class="btn btn-primary"
          text="Register for free"
          (tap)="go('landing')">
        </Button>
      </GridLayout>
    </StackLayout>
  </StackLayout>

  <Label row="4" text="Copyright &copy; Version: 1.0" class="footer"></Label>
</GridLayout>
