<GridLayout class="page" rows="*, auto, auto, auto, *, auto">

  <StackLayout row="1" class="m-x-25 nt-form -border bg-black">
    <GridLayout rows="auto" columns="*, auto, auto, *" class="m-t-10">
      <Label row="0" col="1" class="h2 primary" text="PIDRO"></Label>
      <Label row="0" col="2" class="h2 secondary font-weight-bold" text="ALLSTARS"></Label>
    </GridLayout>
    <StackLayout class="m-t-10">
      <StackLayout>
        <TextField  class="-border bg-white" hint="Username"></TextField>
      </StackLayout>
      <StackLayout>
        <TextField class="-border bg-white" hint="Password"></TextField>
      </StackLayout>
      <GridLayout>
        <Label class="link m-l-15" text="Forgot your password?">
        </Label>
        <Button
          class="btn-primary pull-right"
          text="Log In"
          (tap)="go('landing')">
        </Button>
      </GridLayout>
    </StackLayout>
  </StackLayout>

  <StackLayout row="2" class="m-5"></StackLayout>

  <StackLayout row="3" class="m-x-25 -border bg-black">
    <StackLayout>
      <GridLayout>
        <Label class="secondary m-l-15" text="Not a registered user?"></Label>
        <Button
          class="btn-primary pull-right"
          text="Register for free"
          (tap)="go('landing')">
        </Button>
      </GridLayout>
    </StackLayout>
  </StackLayout>

  <Label row="5" text="Copyright &copy; Version: 1.0" class="secondary text-center footnote"></Label>
</GridLayout>
